*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/public/storage
/storage/*.key
/storage/framework/views/*.php
/storage/logs/*.log
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
